version: '3.4'
services:
  gateway:
    depends_on:
      - jaeger
      - adminer
    ports:
      - 5005:50050  

  adminer:
    hostname: adminer
    image: adminer
    networks:
      - app
    depends_on:
      - messaging

  jaeger:
    hostname: jaeger
    image: jaegertracing/all-in-one
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    networks:
      - app